.bash_history*
.dotfiles/
.ssh/
.gnupg/
.terraform.d/
.vim
.yarnrc
.npm/
.python_history
.local/
.cache/
.java/
.landscape/
.motd_shown
.sudo_as_admin_successful
.viminfo
src/
.nvm/
.config/wslu/
.lesshst
.azure/
